.question {
    font-weight: 200;
}

#start-btn {
    align-self: center;
    background-color: darkslategray;
    color: white;
    display: ;
}

#startGame:hover{
    border-color: black;
}

.hide {
    display: none;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

#initial-input{
    ;
}

/* Start/Answer button styling */

#buttonA {
    
    color: white;
    background-color: darkslategray;
    width: 150px;
    border-radius: 25px;
    margin: 10px;

}
#buttonB{
    
    color: white;
    background-color: darkslategray;
    width: 150px;
    border-radius: 25px;
    margin: 10px;
   
}

#buttonC{
    
    color: white;
    background-color: darkslategray;
    width: 150px;
    border-radius: 25px;
    margin: 10px;
}

#buttonD{
    
    color: white;
    background-color: darkslategray;
    width: 150px;
    border-radius: 25px;
    margin: 10px;
}

#start-btn {
    align-self: center;
    background-color: darkslategray;
    color: white;
    width: 150px;
    border-radius: 25px;

